modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5904
externalPort = 3000

[[ports]]
localPort = 23636
externalPort = 3002

[[ports]]
localPort = 23637
externalPort = 3003

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_log_in_with_replit:2.0.0", "javascript_openai_ai_integrations:2.0.0", "javascript_object_storage:2.0.0", "google-mail:1.0.0"]

[userenv]

[userenv.shared]
VITE_VAPID_PUBLIC_KEY = "BNraZ4fllVCY5VgrHXUBJezgIcCW9c7mYqjx2SuCYUYT4f_EFQ-k8haWCbXC_HpSsyIYxbPBgmHkOfAdIH8lDIM"
VAPID_PUBLIC_KEY = "BNraZ4fllVCY5VgrHXUBJezgIcCW9c7mYqjx2SuCYUYT4f_EFQ-k8haWCbXC_HpSsyIYxbPBgmHkOfAdIH8lDIM"
"VAPID_PRIVATE_KEY secret:" = '\n\nD81GELK5xJp2XkpPREh7iH7rBQun6GASVNnPSP4FzO8\n\n'
SQUARE_ENVIRONMENT = "production"
ONBOARDING_ENCRYPTION_KEY = "35c03e0d109252990a82facbdcda0027ecfb6b1267301c2140ae0c94fb824d75"
PLAID_ENV = "production"
PFG_SFTP_HOST = "ecomm.pfgc.com"
PFG_SFTP_PORT = "22"
PFG_SFTP_USERNAME = "zzBEARSCUP"
PFG_OPCO = "170"
GOOGLE_CLIENT_ID = "394490152904-surscnusl5bmoksgj3oecgsm0suigu74.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"
GOOGLE_REFRESH_TOKEN = "1//04pCqU696VM1wCgYIARAAGAQSNwF-L9IrsyCkTnjLKbZ_-aqV4HL1EstFHNsmQauW9xBjF1OkekfZsFEQ7XC1qGH0QDsX-c8rfPs"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
